<!DOCTYPE html>
<html lang="fr">
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8">
  <title>
    <%= title               %>
  </title>
  <style type="text/css">
    <%= css_code        %>
  </style>
  <script type="text/javascript">
    <%= javascript_code %>
  </script>
</head>
<body>
  <%= logo %>
  <%= body %>
</body>
</html>
