<!DOCTYPE html>
<html lang="fr">
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8">
  <title>
    <%= title               %>
  </title>
  <%= whole_css_code        %>
  <%= whole_javascript_code %>
</head>
<body>
  <%= bandeau_superieur     %>
  <%= full_content          %>
</body>
</html>
